@use 'variables' as *;

@mixin breakpoint($size, $sizes-map: $breakpoints) {
	@media (min-width: map-get($sizes-map, $size)) {
		@content;
	}
}

@mixin absoluteCenterX {
	left: 50%;
	transform: translateX(-50%);
}

@mixin interaction {
	&:hover,
	&:focus-within,
	&:focus {
		@content;
	}
}

@mixin defaultbtn {
	border: none;
	background-color: transparent;
}
