@use 'variables' as *;
@use 'functions' as *;

@mixin breakpoint($size, $sizes-map: $breakpoints) {
	@media (min-width: map-get($sizes-map, $size)) {
		@content;
	}
}

@mixin absoluteCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin absoluteCenterX {
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
}

@mixin absoluteCenterY {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin interaction {
	&:hover,
	&:focus-within,
	&:focus {
		@content;
	}
}

@mixin defaultbtn {
	border: none;
	background-color: transparent;
	transition: var(--transition-animation);
}
