// ::: Config
$base-url: 'http://localhost:3000/';
$fonts-path: $base-url + 'assets/fonts/';
$img-path: $base-url + 'assets/img/';

// ::: Colors

$black: #000;
$white: #fff;
$accent: #514633;
$darker-accent: #2f2c2b;
$primary: #bf624c;
$grey: #e5e5e5;
$brown: #716147;

// ::: Typography
$primary-font: 'spartan-mb', sans-serif;
$secondary-font: 'kelvinch', serif;

// ::: Breakpoints
// 500px, 700px, 900px
$breakpoints: (
	'sm': '31.25rem',
	'md': '43.75em',
	'lg': '56.25em',
);
