// ::: Colors

$black: #000;
$white: #fff;
$accent: #514633;
$darker-accent: #2f2c2b;
$primary: #bf624c;
$grey: #e5e5e5;
$brown: #716147;

// ::: Typography
$primary-font: 'spartan', sans-serif;
$secondary-font: 'kelvinch', serif;

// ::: Breakpoints
// 640px, 900px
$breakpoints: (
	'medium': '40em',
	'large': '56.25em',
);

// ::: Others
$transition: all 0.3s ease;
