@use '../utils/' as *;

.asymmetric-card {
	display: grid;
	grid-template-columns: 1fr;
	margin-bottom: rem(80);

	&__thumb img,
	&__title,
	&__btn {
		transition: var(--transition-animation);
	}

	&__thumb {
		overflow: hidden; // evitar desborde de img en hover
		background-color: var(--grey);
		box-shadow: var(--default-shadow);

		img:hover {
			transform: scale(1.1);
		}
	}

	&__content {
		position: relative;
		background-color: white;
		padding: rem(20) rem(20) rem(50);
		text-align: center;
		box-shadow: var(--default-shadow);
	}

	&__title {
		margin-bottom: rem(20);
		font-size: rem(24);

		@include interaction {
			color: var(--orange);
		}
	}

	&__btn {
		@include defaultbtn;
		@include absoluteCenterX;
		background-color: var(--accent);
		color: white;
		padding: rem(10);
		font-size: rem(24);
		position: absolute;
		bottom: -(rem(20));

		@include interaction {
			background-color: var(--orange);
		}
	}

	@include breakpoint('md') {
		grid-template-columns: auto minmax(100px, 470px) auto;
		grid-template-rows: repeat(2, 1fr) auto auto;

		&__thumb {
			max-width: rem(700);
			justify-self: center;
			grid-area: 1 / 1 / -2 / -1;
		}

		&__content {
			grid-area: 3 / 2 / -1 / -2;
			padding: rem(45);
		}

		&__title {
			font-size: rem(35);
		}
	}

	@include breakpoint('lg') {
		$self: &;
		grid-template-columns: minmax(rem(200), rem(450)) rem(70) auto;
		grid-template-rows: repeat(3, auto);

		&__thumb {
			grid-area: 1 / 1 / -1 / 3;
		}

		&__content {
			grid-area: 2 / 2 / -2 / -1;
			text-align: left;
		}

		&:nth-child(even) {
			grid-template-columns: auto rem(70) minmax(rem(200), rem(450));

			#{$self}__content {
				text-align: left;
				grid-area: 2 / 1 / -2 / 3;
			}

			#{$self}__thumb {
				grid-area: 1 / 2 / -1 / -1;
			}
		}
	}
}
