@use '../utils/' as *;

.banner {
	position: relative;
	width: 100vw;
	min-height: rem(200);
	background-color: lightblue;
	margin-bottom: rem(50);
	box-shadow: 0px 17px 15px -10px #777777;

	&__title {
		text-transform: uppercase;
		color: var(--white);
		margin: 0;
		position: absolute;
		font-size: rem(56);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	@include breakpoint('md') {
		min-height: rem(250);
	}

	@include breakpoint('lg') {
		min-height: rem(400);
		margin-bottom: rem(120);
	}
}
