@use '../utils/' as *;

.btn {
	letter-spacing: 0.02em;
	padding: rem(10);
	display: inline-block;
	transition: var(--transition-animation);
	line-height: normal;

	&-padding-md {
		padding: rem(15) rem(40);
	}
}

.btn-outline {
	&--grey {
		border: var(--grey-border);
		background-color: transparent;

		&.active,
		&:hover,
		&:focus-visible {
			color: var(--white);
			background-color: var(--orange);
		}
	}
}

.btn-orange {
	background: var(--orange);
	color: var(--white);
	border: none;

	@include interaction {
		background-color: var(--accent);
	}
}

.btn-white {
	@include defaultbtn;
	background: var(--white);
	color: var(--accent);
	border: none;
	padding: rem(15) rem(20);
	transition: var(--transition-animation);

	@include interaction {
		color: var(--white);
		background-color: var(--orange);
	}
}
