@use '../utils/' as *;

.footer {
	background-size: contain;
	background: var(--darker-accent) url($img-path + 'footer-bg-movil.png') no-repeat right;
	color: var(--white);

	&__wrapper {
		display: grid;
		gap: rem(50);
		grid-template-areas:
			'address'
			'about'
			'logo';
		grid-template-columns: 1fr;
		padding: rem(80) 0;
	}

	&__address {
		grid-area: address;
	}

	&__about {
		grid-area: about;
	}

	&__logo {
		grid-area: logo;
		text-align: center;
		align-self: center;
		img {
			max-width: rem(160);
		}
	}

	@include breakpoint('md') {
		background: var(--darker-accent) url($img-path + 'footer-bg.png') no-repeat center;
		background-size: cover;

		&__wrapper {
			gap: rem(20);
			grid-template-areas: 'address logo about';
			grid-template-columns: repeat(3, 1fr);
			padding: rem(100) 0;
		}
	}
}
