@use '../utils/' as *;

.product-card {
	--border-radius: 0 0 20px 20px;
	display: grid;
	grid-template-rows: auto auto 1fr;
	grid-template-columns: 1fr;
	width: 100%;
	max-width: rem(400);
	text-align: center;
	transition: all 0.3s ease;

	&.hide {
		display: none;
	}

	&__img {
		grid-area: 1 / 1 / 3 / -1;
	}

	&__bg {
		grid-area: 2 / 1 / -1 / -1;
		box-shadow: var(--shadow);
		border-radius: var(--border-radius);
		z-index: -1;
	}

	&__content {
		grid-area: 3 / 1 / -1 / -1;
		display: flex;
		flex-direction: column;
	}

	&__name {
		font-size: rem(24);
		margin-bottom: rem(20);
		text-transform: uppercase;
		padding: 0 rem(20);
	}

	&__desc {
		margin-bottom: rem(20);
		padding: 0 rem(20);
		flex-grow: 1;
	}

	&__price-tag {
		background-color: var(--primary);
		color: var(--white);
		padding: rem(15);
		font-weight: bold;
		border-radius: var(--border-radius);
	}

	@include breakpoint('md') {
		&__name {
			min-height: rem(56);
		}
	}

	/* Animaciones pendientes */
	// @keyframes fade-out {
	// 	0% {
	// 		transform: scale(1);
	// 	}
	// 	100% {
	// 		transform: scale(0);
	// 	}
	// }

	// @keyframes fade-in {
	// 	0% {
	// 		transform: scale(0);
	// 	}
	// 	100% {
	// 		transform: scale(1);
	// 	}
	// }
}
