@use '../utils/' as *;

// ::: Hero
#splide-hero {
	box-shadow: 0px 17px 15px -10px #777777;
}

.slider-hero__content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	text-transform: uppercase;
}

.slider-hero__title {
	font-size: rem(40);
	letter-spacing: 0.02em;
	margin-bottom: rem(50);

	@include breakpoint('sm') {
		font-size: rem(56);
	}
}

.slider-hero__btn {
	padding: rem(10) rem(20);
	font-size: rem(12);
	text-transform: uppercase;
	letter-spacing: 0.08em;
	color: var(--accent);
	background-color: var(--white);

	&:hover,
	&:focus-visible {
		color: var(--white);
		background-color: var(--primary);
	}
}

// ::: Gallery
.splide__pagination.gallery-pagination {
	bottom: -(rem(32));
}

.splide__pagination__page.gallery-pagination-page {
	&.is-active {
		background-color: var(--accent);
	}
}
