@use '../utils/' as *;

/* ::: base ::: */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

	&::selection {
		background-color: var(--accent);
		color: var(--white);
	}
}

*::after,
*::before {
	box-sizing: inherit;
}

body {
	font-family: #{$primary-font};
	font-size: rem(16);
	color: var(--accent);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--secondary-font);
	text-transform: uppercase;
}

a,
button {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	width: 100%;
	vertical-align: top;
	user-select: none;
}

// svg {
// 	vertical-align: top;
// }

blockquote {
	font-family: inherit;
}

input,
textarea {
	width: 100%;
	color: inherit;
}

p,
a,
i {
	line-height: rem(28);
	letter-spacing: 0.02em;
}

address {
	font-style: normal;
}

ul,
ol {
	list-style-type: none;
}

abbr[title] {
	text-decoration: none;
}
