/*! Kelvinch | SIL Open Font License v1.10 | https://www.fontsquirrel.com/fonts/kelvinch  */

@font-face {
	font-family: 'kelvinch';
	src: url('../../fonts/kelvinch/Kelvinch-Roman.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'kelvinch';
	src: url('../../fonts/kelvinch/Kelvinch-Italic.otf') format('opentype');
	font-style: italic;
	font-style: normal;
}

@font-face {
	font-family: 'kelvinch';
	src: url('../../fonts/kelvinch/Kelvinch-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'kelvinch';
	src: url('../../fonts/kelvinch/Kelvinch-BoldItalic.otf') format('opentype');
	font-weight: bold;
	font-style: italic;
}

/*! League Spartan | SIL Open Font License v1.10 | https://fonts.google.com/specimen/League+Spartan?query=spartan */

@font-face {
	font-family: 'spartan';
	src: url('../../fonts/league_spartan/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
}
