@use '../utils/' as *;

/*! Kelvinch | SIL Open Font License v1.10 | https://www.fontsquirrel.com/fonts/kelvinch  */

@font-face {
	font-family: 'kelvinch';
	src: url($fonts-path + 'kelvinch/Kelvinch-Roman.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'kelvinch';
	src: url($fonts-path + 'kelvinch/Kelvinch-Italic.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'kelvinch';
	src: url($fonts-path + 'kelvinch/Kelvinch-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'kelvinch';
	src: url($fonts-path + 'kelvinch/Kelvinch-BoldItalic.otf') format('opentype');
	font-weight: bold;
	font-style: italic;
}

/*! League Spartan | SIL Open Font License v1.10 | https://fonts.google.com/specimen/League+Spartan?query=spartan */

@font-face {
	font-family: 'spartan';
	src: url($fonts-path + 'league_spartan/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
}

/*! Spartan MB | SIL Open Font License v1.10 | https://www.fontsquirrel.com/fonts/spartan-mb */

@font-face {
	font-family: 'spartan-mb';
	src: url($fonts-path + 'spartan-mb/SpartanMB-Regular.otf') format('opentype');
	font-style: normal;
	font-weight: normal;
}
