@use '../utils/' as *;

.container {
	max-width: rem(1100);
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.grid {
	display: grid;
	gap: rem(50);
	grid-template-columns: 1fr;

	@include breakpoint('md') {
		&-md-2 {
			grid-template-columns: repeat(2, 1fr);
			gap: rem(40);
		}
	}

	@include breakpoint('lg') {
		&-lg-4 {
			gap: rem(20);
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

.display-block {
	display: block;
}

.width-100 {
	width: 100%;
}

.flex {
	display: flex;
}
