@use '../utils/' as *;

.container {
	max-width: rem(1100);
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.grid {
	display: grid;
	gap: rem(50);
	grid-template-columns: 1fr;

	@include breakpoint('md') {
		&-md-2 {
			grid-template-columns: repeat(2, 1fr);
			gap: rem(40);
		}
		&-md-3 {
			grid-template-columns: repeat(3, 1fr);
			gap: rem(20);
		}
	}

	@include breakpoint('lg') {
		&-lg-3 {
			gap: rem(50) rem(20);
			grid-template-columns: repeat(3, 1fr);
		}
		&-lg-4 {
			gap: rem(20);
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

.display-block {
	display: block;
}

.width-100 {
	width: 100%;
}

.flex {
	display: flex;
}

.flex-justify-between {
	justify-content: space-between;
}

.inline-list {
	> * {
		display: inline-block;
	}
}

.gap {
	&-2 {
		gap: rem(20);
	}
}

.alignSelf {
	&-center {
		align-self: center;
	}
}
