@use '../utils/' as *;

.font-secondary {
	font-family: var(--secondary-font);
}

.fontSize {
	&-1 {
		font-size: rem(12);
	}
	&-2 {
		font-size: rem(14);
	}
	&-3 {
		font-size: rem(24);
		line-height: rem(40);
	}
	&-4 {
		font-size: rem(30);
	}
	&-5 {
		font-size: rem(40);
	}

	@include breakpoint('md') {
		&-md {
			&-1 {
				font-size: rem(12);
			}
			&-2 {
				font-size: rem(14);
			}
			&-3 {
				font-size: rem(24);
			}
			&-4 {
				font-size: rem(30);
			}
			&-5 {
				font-size: rem(40);
			}
		}
	}
	@include breakpoint('lg') {
		&-lg {
			&-1 {
				font-size: rem(12);
			}
			&-2 {
				font-size: rem(14);
			}
			&-3 {
				font-size: rem(24);
			}
			&-4 {
				font-size: rem(30);
			}
			&-5 {
				font-size: rem(40);
			}
		}
	}
}

.font {
	&--light {
		font-weight: 300;
	}

	&--regular {
		font-weight: 400;
	}

	&--semi-bold {
		font-weight: 600;
	}

	&--bold {
		font-weight: 700;
	}
}
