@use '../utils/' as *;

.hidden {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.font {
	&--light {
		font-weight: 300;
	}

	&--regular {
		font-weight: 400;
	}

	&--semi-bold {
		font-weight: 600;
	}

	&--bold {
		font-weight: 700;
	}
}

.text-white {
	color: $white;
}

.text-align-center {
	text-align: center;
}

.margin-bottom {
	&--20 {
		margin-bottom: rem(20);
	}
	&--40 {
		margin-bottom: rem(40);
	}
	&--xs {
		margin-bottom: rem(5);
	}
	&--sm {
		margin-bottom: rem(10);
	}
	&--md {
		margin-bottom: rem(16);
	}
	&--lg {
		margin-bottom: rem(30);
	}
	&--xl {
		margin-bottom: rem(90);
	}
}

.margin-right-sm {
	margin-right: rem(10);
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid-centered {
	display: grid;
	align-items: center;
	justify-items: center;
}

.uppercase {
	text-transform: uppercase;
}

.section-title {
	position: relative;

	h2 {
		position: relative;
	}
}

.title-decoration {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
	max-width: rem(200);
	z-index: -1;
}

.border {
	&--grey {
		border: var(--grey-border);
	}
}

.bg-dark {
	background-color: var(--darker-accent);
	color: var(--white);
}

.inline-list {
	> * {
		display: inline-block;
	}
}
