@use '../utils/' as *;

.hidden {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.font {
	&--light {
		font-weight: 300;
	}

	&--regular {
		font-weight: 400;
	}

	&--semi-bold {
		font-weight: 600;
	}

	&--bold {
		font-weight: 700;
	}
}

.font-family {
	&--secondary {
		font-family: var(--secondary-font);
	}
}
