@use '../utils/' as *;

.hidden {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.text-white {
	color: $white;
}

.textAlign {
	&-center {
		text-align: center;
	}

	@include breakpoint('md') {
		&-md {
			&-left {
				text-align: left;
			}
		}
	}
}

.marginBottom {
	&--20 {
		margin-bottom: rem(20);
	}
	&--40 {
		margin-bottom: rem(40);
	}
	&-1 {
		margin-bottom: rem(10);
	}
	&-2 {
		margin-bottom: rem(16);
	}
	&-lg {
		margin-bottom: rem(30);
	}
	&-5 {
		margin-bottom: rem(50);
	}
	&-6 {
		margin-bottom: rem(70);
	}
	&-7 {
		margin-bottom: rem(120);
	}
}

.marginRight {
	&-1 {
		margin-right: rem(10);
	}
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid-centered {
	display: grid;
	align-items: center;
	justify-items: center;
}

.uppercase {
	text-transform: uppercase;
}

.border {
	&--grey {
		border: var(--grey-border);
	}
}

.bg-dark {
	background-color: var(--darker-accent);
	color: var(--white);
}
