@use '../utils/' as *;

.about {
	.media img {
		max-width: rem(400);
	}
}

.service {
	display: flex;
	flex-direction: column;
	align-items: center;

	img {
		max-width: rem(250);
	}

	&__content {
		flex: 1;
	}
}

.testimonial {
	background-image: url($img-path + 'bakery.jpg');
	background-size: cover;
	padding: rem(40);

	&__img {
		max-width: rem(40);
	}

	@include breakpoint('lg') {
		padding: rem(60);
	}
}
